/* Landing  */

body {
    padding-top: 50px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.business-header {
    height: 450px;
    background: url('../img/checkinbanner-800x450.jpg') center center no-repeat #262626;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.tagline {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    font-size: 2em;
    text-align: center;
    font-family: comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
    line-height: 1;
    margin-top: 10%;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}