/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


/* Global Styles */

body {
    margin-top: 50px;
    background-color: #E5E5E5;
}

a {
    text-decoration: none !important;
}

#breadcrumb {
    margin-top: 20px;
}

@media(min-width:768px) {
    #breadcrumb {
        margin-top: 10px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

.huge {
    font-size: 50px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
    #page-wrapper {
        padding: 10px;
    }
}


/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}


/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.btn-alizarin {
    background-color: #e74c3c;
    border-color: #c0392b;
    color: #fff;
}

.panel-alizarin {
    border-color: #e74c3c;
}

.panel-alizarin>.panel-heading {
    border-color: #e74c3c;
    color: #fff;
    background-color: #e74c3c;
}

.panel-alizarin>.panel-footer {
    color: #e74c3c;
}

.panel-alizarin>.panel-footer:hover {
    color: #c0392b;
}

.btn-amethyst {
    background-color: #9b59b6;
    border-color: #8e44ad;
    color: #fff;
}

.panel-amethyst {
    border-color: #9b59b6;
}

.panel-amethyst>.panel-heading {
    border-color: #9b59b6;
    color: #fff;
    background-color: #9b59b6;
}

.panel-amethyst>.panel-footer {
    color: #9b59b6;
}

.panel-amethyst>.panel-footer:hover {
    color: #8e44ad;
}

.btn-carrot {
    background-color: #e67e22;
    border-color: #d35400;
    color: #fff;
}

.panel-carrot {
    border-color: #e67e22;
}

.panel-carrot>.panel-heading {
    border-color: #e67e22;
    color: #fff;
    background-color: #e67e22;
}

.panel-carrot>.panel-footer {
    color: #e67e22;
}

.panel-carrot>.panel-footer:hover {
    color: #d35400;
}

.btn-emerland {
    background-color: #2ecc71;
    border-color: #27ae60;
    color: #fff;
}

.panel-emerland {
    border-color: #2ecc71;
}

.panel-emerland>.panel-heading {
    border-color: #2ecc71;
    color: #fff;
    background-color: #2ecc71;
}

.panel-emerland>.panel-footer {
    color: #2ecc71;
}

.panel-emerland>.panel-footer:hover {
    color: #27ae60;
}

.btn-peterriver {
    background-color: #3498db;
    border-color: #2980b9;
    color: #fff;
}

.panel-peterriver {
    border-color: #3498db;
}

.panel-peterriver>.panel-heading {
    border-color: #3498db;
    color: #fff;
    background-color: #3498db;
}

.panel-peterriver>.panel-footer {
    color: #3498db;
}

.panel-peterriver>.panel-footer:hover {
    color: #2980b9;
}

.btn-silver {
    background-color: #bdc3c7;
    border-color: #7f8c8d;
    color: #fff;
}

.panel-silver {
    border-color: #bdc3c7;
}

.panel-silver>.panel-heading {
    border-color: #bdc3c7;
    color: #fff;
    background-color: #bdc3c7;
}

.panel-silver>.panel-footer {
    color: #bdc3c7;
}

.panel-silver>.panel-footer:hover {
    color: #95a5a6;
}

.btn-sunflower {
    background-color: #f1c40f;
    border-color: #f39c12;
    color: #fff;
}

.panel-sunflower {
    border-color: #f1c40f;
}

.panel-sunflower>.panel-heading {
    border-color: #f1c40f;
    color: #fff;
    background-color: #f1c40f;
}

.panel-sunflower>.panel-footer {
    color: #f1c40f;
}

.panel-sunflower>.panel-footer:hover {
    color: #f39c12;
}

.btn-wetasphlat {
    background-color: #34495e;
    border-color: #2c3e50;
    color: #fff;
}

.panel-wetasphlat {
    border-color: #34495e;
}

.panel-wetasphlat>.panel-heading {
    border-color: #34495e;
    color: #fff;
    background-color: #34495e;
}

.panel-wetasphlat>.panel-footer {
    color: #34495e;
}

.panel-wetasphlat>.panel-footer:hover {
    color: #2c3e50;
}

.checkbox {
    margin-top: 0px;
}

.breadcrumb,
.form-panel,
.well {
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 2.5px;
}

.panel,
.panel-heading {
    border-radius: 2.5px;
}

.form-panel {
    margin-bottom: 20px;
    padding: 0px;
    background-color: #f5f5f5;
}

.grid {
    background-color: #F5F5F5;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 2.5px;
    margin-bottom: 20px;
    max-height: 330px;
    width: 100%;
}

.ui-grid-row.ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
    background-color: #bdc3c7;
}