<!-- Custom CSS -->
<link href="./css/sb-admin.css" rel="stylesheet">

<div id="page-wrapper" ng-init="getUserEvents()">

    <div class="container">

        <!-- Page Heading -->
        <div id="breadcrumb" class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-dashboard"></i><a href="#!/dashboard">&nbsp;Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <i class="fa fa-calendar-check-o"></i><span>&nbsp;Events</span>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">

            <!-- Add Event -->
            <div class="col-sm-6">
                <a href="" ng-click="switchAddEvent()">
                    <div class="panel panel-emerland">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar-check-o fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Add Event</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Add Event</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Copy Event -->
            <div class="col-sm-6">
                <a href="" ng-click="switchCopyEvent()">
                    <div class="panel panel-amethyst">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-exchange fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Copy Event</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Copy Event</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <div class="form-panel" ng-show="showAddEvent">
            <div class="panel panel-emerland">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar-check-o fa-1x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Add Event</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <form ng-submit="addEvent()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventGroup">Associated Group:</label>
                            <select class="form-control" id="eventGroup" ng-model="eventGroup" required="true" />
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="eventEnabled">Enabled</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventName">Event Name:</label>
                            <input type="text" class="form-control" id="eventName" ng-model="eventName" required="true">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventNotified">Who gets Notified:</label>
                            <select class="form-control" id="eventNotified" multiple="true" ng-model="eventNotified" />
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventChecksIn">Who Checks In:</label>
                            <select class="form-control" id="eventChecksIn" multiple="true" ng-model="eventChecksIn" />
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventNotes">Notes:</label>
                            <textarea class="form-control" id="eventNotes" rows="4" ng-model="eventNotes" />
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <label class="radio-inline"><input type="radio" value="One Time" ng-model="eventfrequency">One Time</label>
                        <label class="radio-inline"><input type="radio" value="Daily" ng-model="eventfrequency">Daily</label>
                        <label class="radio-inline"><input type="radio" value="Weekly" ng-model="eventfrequency">Weekly</label>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency == 'One Time'">
                        <div class="form-group">
                            <label for="eventStartDate">Start Date:</label>
                            <input type="datetime" class="form-control" id="eventStartDate" ng-model="eventStartDate">
                        </div>
                    </div>
                    <div class=" col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Daily'">
                        <div class="form-group">
                            <label for="eventStartDate">Start Date:</label>
                            <input type="datetime" class="form-control" id="eventStartDate" ng-model="eventStartDate">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Daily'">
                        <div class="form-group">
                            <label for="eventRecurDays">Recurring Every (Number of Days):</label>
                            <input type="number" class="form-control" id="eventRecurDays" ng-model="eventRecurDays">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Weekly'">
                        <div class="form-group">
                            <label for="eventRecurWeeks">Recurring Every (Number of Weeks):</label>
                            <input type="number" class="form-control" id="eventRecurWeeks" ng-model="eventRecurWeeks">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Weekly'">
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnSunday">Sunday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnMonday">Monday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnTuesday">Tuesday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnWednesday">Wednesday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnThursday">Thursday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnFriday">Friday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnSaturday">Saturday</label>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Weekly'">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <button type="submit" class="btn btn-peterriver btn-block">Save</button>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="alert alert-success alert-dismissible" role="alert" ng-show="updateMessage">
                            <button type="button" class="close" ng-click="updateMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                            <button type="button" class="close" ng-click="errorMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ errorMessage }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="form-panel" ng-show="showEditEvent">
            <div class="panel panel-silver">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar-check-o fa-1x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Edit Event</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <form ng-submit="editEvent()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventGroup">Associated Group:</label>
                            <input type="text" class="form-control" id="eventGroup" ng-model="eventGroup" disabled="true">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="eventEnabled">Enabled</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventName">Event Name:</label>
                            <input type="text" class="form-control" id="eventName" ng-model="eventName" required="true">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventNotified">Who gets Notified:</label>
                            <select class="form-control" id="eventNotified" multiple="true" ng-model="eventNotified" />
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventChecksIn">Who Checks In:</label>
                            <select class="form-control" id="eventChecksIn" multiple="true" ng-model="eventChecksIn" />
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventNotes">Notes:</label>
                            <textarea class="form-control" id="eventNotes" rows="4" ng-model="eventNotes" />
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <label class="radio-inline"><input type="radio" value="One Time" ng-model="eventfrequency">One Time</label>
                        <label class="radio-inline"><input type="radio" value="Daily" ng-model="eventfrequency">Daily</label>
                        <label class="radio-inline"><input type="radio" value="Weekly" ng-model="eventfrequency">Weekly</label>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency == 'One Time'">
                        <div class="form-group">
                            <label for="eventStartDate">Start Date:</label>
                            <input type="datetime" class="form-control" id="eventStartDate" ng-model="eventStartDate">
                        </div>
                    </div>
                    <div class=" col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Daily'">
                        <div class="form-group">
                            <label for="eventStartDate">Start Date:</label>
                            <input type="datetime" class="form-control" id="eventStartDate" ng-model="eventStartDate">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Daily'">
                        <div class="form-group">
                            <label for="eventRecurDays">Recurring Every (Number of Days):</label>
                            <input type="number" class="form-control" id="eventRecurDays" ng-model="eventRecurDays">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Weekly'">
                        <div class="form-group">
                            <label for="eventRecurWeeks">Recurring Every (Number of Weeks):</label>
                            <input type="number" class="form-control" id="eventRecurWeeks" ng-model="eventRecurWeeks">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Weekly'">
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnSunday">Sunday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnMonday">Monday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnTuesday">Tuesday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnWednesday">Wednesday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnThursday">Thursday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnFriday">Friday</label>
                        <label class="checkbox-inline"><input type="checkbox" value="true" ng-model="eventRecurWeekOnSaturday">Saturday</label>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1" ng-if="eventfrequency=='Weekly'">
                        <br>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                        <button type="submit" class="btn btn-peterriver btn-block">Save</button>
                    </div>
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-alizarin btn-block" ng-click="deleteEvent()">Delete</button>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="alert alert-success alert-dismissible" role="alert" ng-show="updateMessage">
                            <button type="button" class="close" ng-click="updateMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                            <button type="button" class="close" ng-click="errorMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ errorMessage }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="form-panel" ng-show="showCopyEvent">
            <div class="panel panel-amethyst">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-exchange fa-1x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Edit Event</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="col-xs-12" ng-submit="copyEvent()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="eventName">Event Name:</label>
                            <input type="text" class="form-control" id="eventName" ng-model="eventName" disabled="true">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <button type="submit" class="btn btn-peterriver btn-block">Copy</button>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="alert alert-success alert-dismissible" role="alert" ng-show="updateMessage">
                            <button type="button" class="close" ng-click="updateMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                            <button type="button" class="close" ng-click="errorMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ errorMessage }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <div id="grdEvents" ui-grid="gridOptions" ui-grid-selection class="grid"></div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->