<!-- Custom CSS -->
<link href="./css/sb-admin.css" rel="stylesheet">

<div id="page-wrapper" ng-init="getUserGroups()">

    <div class="container">

        <!-- Page Heading -->
        <div id="breadcrumb" class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-dashboard"></i><a href="#!/dashboard">&nbsp;Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <i class="fa fa-users"></i><span>&nbsp;Groups</span>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <!-- Add Group -->
            <div class="col-sm-6">
                <a href="" ng-click="switchAddGroup()">
                    <div class="panel panel-peterriver">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Add Group</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Add Group</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Invite to Group -->
            <div class="col-sm-6">
                <a href="" ng-click="switchInviteToGroup()">
                    <div class="panel panel-amethyst">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-envelope fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Invite to Group</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Invite to Group</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <div class="form-panel" ng-show="showAddGroup">
            <div class="panel panel-peterriver">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-1x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Add Group</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="col-xs-12" ng-submit="addGroup()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="groupName">Group Name:</label>
                            <input type="text" class="form-control" id="groupName" ng-model="groupName" required="true">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <button type="submit" class="btn btn-peterriver btn-block">Save</button>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="alert alert-success alert-dismissible" role="alert" ng-show="updateMessage">
                            <button type="button" class="close" ng-click="updateMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                            <button type="button" class="close" ng-click="errorMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ errorMessage }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="form-panel" ng-show="showEditGroup">
            <div class="panel panel-silver">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-1x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Edit Group</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="col-xs-12" ng-submit="editGroup()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="groupName">Group Name:</label>
                            <input type="text" class="form-control" id="groupName" ng-model="groupName" required="true">
                        </div>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                        <button type="submit" class="btn btn-peterriver btn-block">Save</button>
                    </div>
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-alizarin btn-block" ng-click="deleteGroup()">Delete</button>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="alert alert-success alert-dismissible" role="alert" ng-show="updateMessage">
                            <button type="button" class="close" ng-click="updateMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                            <button type="button" class="close" ng-click="errorMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ errorMessage }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="form-panel" ng-show="showInviteToGroup">
            <div class="panel panel-amethyst">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-2x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Invite to Group</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class="col-xs-12" ng-submit="inviteToGroup()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="inviteEmail">Invitees Email Address:</label>
                            <input type="email" class="form-control" id="inviteEmail" ng-model="inviteEmail" required="true">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <button type="submit" class="btn btn-peterriver btn-block">Invite</button>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="alert alert-success alert-dismissible" role="alert" ng-show="updateMessage">
                            <button type="button" class="close" ng-click="updateMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                            <button type="button" class="close" ng-click="errorMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ errorMessage }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <div id="grdGroups" ui-grid="gridOptions" ui-grid-selection class="grid"></div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->