<!-- Custom CSS -->
<link href="./css/landing.css" rel="stylesheet">

<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">An easier way to check in on family and friends</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h2>What's All About?</h2>
            <p>What do you do when you cannot get a hold of loved ones or life gets in the way of reaching them at a decent time? We begin to worry about them...</p>
            <p><span class="glyphicon glyphicon-check"></span>&nbsp;checkIn aims to help family and friends stay connected by providing on-demand status updates of designated life events. Start with inviting loved ones to join private groups, then create
                some life events and you can start getting and receiving automated notifications when pre-set conditions are not met.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="./img/checkinfriends-448x300.jpg" alt="">
            <h2>Check In On Friends</h2>
            <p>Say a friend is planning to go backpacking in the backcountry. An event could be created to track where they are going, expected routes taken and when they expected to be able to check in. If conditions are not met, then you would know to
                look in on them.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="./img/checkinteens-459x300.jpg" alt="">
            <h2>Check In On Kids</h2>
            <p>Say your kids are going to a concert with their friends and have a curfew. Legitimate reasons could cause them to be running late. An event can be created to notify them on their mobile device about an overdue check in, allowing them to quickly
                reply and update their parents.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="./img/checkinparents-463x300.jpg" alt="">
            <h2>Check In On Parents</h2>
            <p>Say your single parent lives alone and is starting to have concerns about their heath or living alone. An event can be created for them to check in at regular intervals, notify them when they need to check in had they forgotten and notifying
                you if a check in is missed.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; checkIn 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->