<!-- Custom CSS -->
<link href="./css/login.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
        <div class="col-xs-10 col-sm-8 col-md-6">
            <section class="login-form">
                <div ng-hide="requestedReset">
                    <form role="login" ng-submit="login()">
                        <div class="brand">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;checkIn</a>
                        </div>
                        <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="" ng-model="loginForm.email"></input>
                        <input type="password" id="password1" placeholder="Password" required class="form-control input-lg" value="" ng-model="loginForm.password"></input>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
                        <div>
                            <a href="#!/signup">Sign Up</a> or <a href="" ng-click="resetPassword()">Reset Password</a>
                        </div>
                        <br>
                        <div class="alert alert-danger" ng-show="loginError">
                            {{ loginError }}
                        </div>
                    </form>
                </div>
                <div ng-show="requestedReset">
                    <form role="login" class="brand">
                        <div class="brand">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;checkIn</a>
                        </div>
                        <div>
                            <br> We are sorry, but this feature is still in development.
                        </div>
                    </form>
                </div>
        </div>
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
    </div>
</div>