<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" ng-href="{{ brandRoute }}"><span class="glyphicon glyphicon-check"></span>&nbsp;checkIn</a>
        </div>

        <!-- Menu Items -->
        <div id="navbar" class="navbar-collapse collapse">

            <!-- Application Menus -->
            <ul class="nav navbar-nav" ng-class="{ 'hidden': hideAppMenus }">

                <!-- Nav Menus -->
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-th-list" aria-hidden="true"></i>&nbsp;Nav&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/dashboard" data-toggle="collapse" data-target=".in"><i class="fa fa-dashboard" aria-hidden="true"></i>&nbsp;Dashboard</a></li>
                        <li><a href="#!/groups" data-toggle="collapse" data-target=".in"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Groups</a></li>
                        <li><a href="#!/events" data-toggle="collapse" data-target=".in"><i class="fa fa-bullhorn" aria-hidden="true"></i>&nbsp;Events</a></li>
                    </ul>
                </li>

                <!-- Alerts -->
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell" aria-hidden="true"></i>&nbsp;Alerts&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="" data-toggle="collapse" data-target=".in">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!/dashboard" data-toggle="collapse" data-target=".in">View All</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Log In Menus -->
            <ul class="nav navbar-nav navbar-right" ng-class="{ 'hidden': hideLoginMenus }">

                <!-- Sign In -->
                <li ng-class="{ 'hidden': hideLoginMenus }">
                    <a href="#!/signup" data-toggle="collapse" data-target=".in"><span class="glyphicon glyphicon-user"></span>&nbsp;Sign Up</a>
                </li>

                <!-- Log In -->
                <li ng-class="{ 'hidden': hideLoginMenus }">
                    <a href="#!/login" data-toggle="collapse" data-target=".in"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Log In</a>
                </li>

            </ul>

            <!-- Logged In Menus -->
            <ul class="nav navbar-nav navbar-right" ng-class="{ 'hidden': !hideLoginMenus }">

                <!-- Logged In -->
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;{{ userName }}&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#!/profile" data-toggle="collapse" data-target=".in"><i class="fa fa-fw fa-user"></i>&nbsp;Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" data-toggle="collapse" data-target=".in" ng-click="logout()"><i class="fa fa-fw fa-power-off"></i>&nbsp;Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>