<!-- Custom CSS -->
<link href="./css/sb-admin.css" rel="stylesheet">

<div id="page-wrapper" ng-init="getProfile();">

    <div class="container">

        <!-- Page Heading -->
        <div id="breadcrumb" class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-dashboard"></i><a href="#!/dashboard">&nbsp;Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <i class="fa fa-user"></i><span>&nbsp;Profile</span>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="breadcrumb">
            <div class="row">
                <form class="col-xs-12" ng-submit="updateProfile()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="profileName">Name:</label>
                            <input type="text" class="form-control" id="profileName" ng-model="profileName" required="true">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="profileEmail">Email:</label>
                            <input type="email" class="form-control" id="profileEmail" ng-model="profileEmail" required="true">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="profileMobile">Mobile:</label>
                            <input type="tel" class="form-control" id="profileMobile" ng-model="profileMobile">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="form-group">
                            <label for="profilePassword">Password:</label>
                            <input type="tel" class="form-control" id="profilePassword" ng-model="profilePassword">
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <button type="submit" class="btn btn-peterriver btn-block">Save</button>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <br>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="alert alert-success alert-dismissible" role="alert" ng-show="updateMessage">
                            <button type="button" class="close" ng-click="updateMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Success!</strong>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="errorMessage">
                            <button type="button" class="close" ng-click="errorMessage = null"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ errorMessage }}
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->