<!-- Custom CSS -->
<link href="./css/login.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
        <div class="col-xs-10 col-sm-8 col-md-6">
            <section class="login-form">
                <div ng-hide="hasSubmitted">
                    <form role="login" ng-submit="signup()">
                        <div class="brand">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;checkIn</a>
                        </div>
                        <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="" ng-model="signupForm.email"></input>
                        <input type="password" id="password1" placeholder="Password" required class="form-control input-lg" value="" ng-model="signupForm.password"></input>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                        <br>
                        <div class="alert alert-danger" ng-show="signupError">
                            {{ signupError }}
                        </div>
                    </form>
                </div>
                <div ng-show="hasSubmitted">
                    <form role="login" class="brand">
                        <div class="brand">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;checkIn</a>
                        </div>
                        <div>
                            Thanks for choosing checkIn! Please check your email to activate your account.
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="col-xs-1 col-sm-2 col-md-3"></div>
    </div>
</div>